.container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

.card {
    display: flex;
    flex-direction: row-reverse; /* Invertimos la dirección de los elementos */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imgContainer {
    width: 300px;
    height: 300px;
    opacity: 0.8;
    position: relative;
    margin-left: 20px; /* Agregamos margen izquierdo para separar los elementos */
  }
  
  .infoContainer {
    background-color: #f2f2f2; /* Agregamos el fondo gris */
    padding: 20px;
  }

  .cardWrapper {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  
  .name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #585656;
    justify-items: center;
    text-align: left;
    margin-bottom: 20px; /* Agregamos margen inferior para separar los elementos */
  }
  
  .petInfo {
    font-size: 20px;
    font-family: 'Inter';
    text-align: left;
    margin-bottom: 10px; /* Agregamos margen inferior para separar los elementos */
  }
  
  .img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
  }
  